.txt-hide{
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.polygon {
    position: absolute;
    width: 12px;
    height: 8px;
    left: 11px;
    top: 9px;
    background-color: #C4C4C4;
    border-radius: 1px;
    transform: rotate(180deg);
}

.btn-select {
    width: 200px;
    height: 40px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}

/* .list-member {
    display: none;
} */

.list-member.on {
    display: block;
}

.btn-select:active+.list-member {
    display: block;
}

.list-member li {
    position: relative;

    list-style: none;
    width: 200px;
    height: 40px;
}

.list-member li button {
    display: block;
    width: 100%;
    height: 100%;
}